.contacts {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  line-height: 150%;
  color: #fff;
  letter-spacing: 0;

  @include on-tablets {
    max-width: 362px;
  }

  @include on-desktops {
    grid-column: 7 / -2;
  }

  &__title {
    margin: 0 0 48px;
    font-size: 32px;

    @include on-tablets {
      margin-bottom: 56px;
    }
  }

  &__item {
    margin-bottom: 40px;

    @include on-tablets {
      margin-bottom: 48px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-title {
    display: block;

    margin-bottom: 8px;

    font-size: 13px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    letter-spacing: 3px;

    opacity: 0.5;
  }

  &__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-transform: none;
    letter-spacing: 0;

    &:hover,
    &:focus {
      color: #144ed4;
    }
  }

  &__socials {
    display: flex;
    gap: 32px;
  }

  &__social {
    & svg path {
      fill: #fff;
      transition: fill 0.3s;
    }

    &:hover svg path {
      fill: #144ed4;
    }
  }
}
