.cta {
  background-color: #fff;

  &__container {
    margin-bottom: 120px;

    @include on-tablets {
      margin-bottom: 0;
      padding-block: 63px 168px;
    }

    @include on-desktops {
      padding-block: 83px 119px;
    }

    @include on-big-desktops {
      padding-block: 72px;
    }
  }

  &__image {
    @include on-tablets {
      background-image: url(../images/shapes-tablet.png);
      background-repeat: no-repeat;
      background-position: center top;
    }

    @include on-desktops {
      background-image: url(../images/shapes.png);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
    padding-block: 72px;

    font-weight: 600;
    text-align: center;
    letter-spacing: 0;

    @include on-tablets {
      padding-block: 137px 32px;
    }

    @include on-desktops {
      max-width: 754px;
      padding-block: 116px 79px;
    }

    @include on-big-desktops {
      padding-block: 127px 126px;
    }
  }

  &__title {
    margin: 0 0 24px;

    font-family: Poppins, sans-serif;
    font-size: 44px;
    line-height: 120%;
    color: #253757;

    @include on-tablets {
      font-size: 52px;
    }

    @include on-desktops {
      line-height: 150%;
    }
  }

  &__text {
    margin: 0 0 56px;

    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    line-height: 150%;
    color: #6c788b;

    @include on-tablets {
      margin-bottom: 64px;
      font-size: 24px;
    }
  }
}
