.main {
  background-color: #f2f6fa;
}

.main__container {
  padding-block-start: 120px;
}

.section__title {
  margin: 0 0 24px;

  font-family: Poppins, Arial, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 100%;
  color: #253757;
  text-align: center;
  letter-spacing: -1.5px;
}
