.vision {
    background-image: url(/src/images/Shapes.png);
  height: 100%;
  margin-top: 120px;
  background-color: #fff;

  @include on-tablet {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__title-content {
    @include on-tablet {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  &__title {
    width: 100%;
    margin: 0;
    padding-top: 200px;

    font-family: Poppins, Arial, sans-serif;
    font-size: 44px;
    font-weight: 600;
    line-height: 52.8px;
    color: #253757;
    text-align: center;

    @include on-tablet {
      width: 70%;
    }
  }

  &__description-content {
    display: flex;
    align-items: center;
    justify-content: center; /* Центрує по горизонталі */
    text-align: center;
  }

  &__description {
    width: 100%;
    margin: 24px 0 0;

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: #6c788b;
    text-align: center;

    @include on-desktop {
      width: 50%;
    }
  }

  &__wraper-button {
    display: flex;
    justify-content: center;
    padding: 52px 0 200px;
  }

  &__button {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    width: 100%;
    height: 56px;
    border: none;
    border-radius: 8px;

    font-family: Poppins, Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 22.5px;
    color: #fff;
    text-align: center;
    text-decoration: none;

    background-color: var(--primary-color);

    transition:
      transform 0.3s ease,
      background-color 0.3s ease,
      box-shadow 0.3s ease;

    @include on-tablet {
      width: 264px;
    }

    @include on-desktop {
      width: 264px;
    }

    &:hover {
      transform: scale(1.01);
      background-color: #1040b6;
      box-shadow: 0 4px 15px rgba(1, 52, 171, 0.5);
    }

    &:active {
      transform: scale(0.98);
      box-shadow: 0 4px 15px rgba(1, 52, 171, 0.5);
    }
  }
}
