.who-we-are {
  @include constent-padding-in-line;

  &__description {
    display: grid;

    margin: 0;

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    color: #6c788b;
    text-align: center;
  }
}
