/* Завантажувач */
.loader {
  position: fixed;
  z-index: 1000; /* Поверх іншого контенту */
  top: 0;
  left: 0;

  display: flex;
  align-items: center; /* Центрування куба */
  justify-content: center;

  width: 100%;
  height: 100%;

  visibility: visible;
  opacity: 1;
  background-color: #000; /* Чорний фон */

  transition:
    opacity 0.5s ease,
    visibility 0.5s ease;
}

/* Приховати завантажувач */
.loader.hidden {
  visibility: hidden;
  opacity: 0;
}

/* Анімація кубів */
.cssload-thecube {
  position: relative;
  transform: rotateZ(45deg);
  width: 50px;
  height: 50px;
}

.cssload-thecube .cssload-cube {
  position: absolute;

  width: 50%;
  height: 50%;

  background-color: var(--primary-color);

  animation: cssload-fold-thecube 2.76s infinite linear both;
}

.cssload-thecube .cssload-cube:nth-child(1) {
  top: 0;
  left: 0;
}

.cssload-thecube .cssload-cube:nth-child(2) {
  top: 0;
  left: 50%;
  animation-delay: 0.35s;
}

.cssload-thecube .cssload-cube:nth-child(3) {
  top: 50%;
  left: 0;
  animation-delay: 0.69s;
}

.cssload-thecube .cssload-cube:nth-child(4) {
  top: 50%;
  left: 50%;
  animation-delay: 1.04s;
}

/* Анімація */
@keyframes cssload-fold-thecube {
  0%,
  10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

/* Основний контент */
.header {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.header.visible {
  display: block;
}
