.page {
  scroll-behavior: smooth;

  &__body {
    min-width: 320px;
    margin: 0;
    &:has(.page__menu:target) {
      overflow: hidden;
    }
  }
}

.page:has(.page__menu:target) {
  overflow: hidden;
}
