.navigation {
  margin: 80px 0 0;
  padding-bottom: 80px;

  @include on-tablet {
    margin: 149px 0 0;
  }

  @include on-desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer__logo {
  flex-direction: column;
  margin-bottom: 48px;

  @include on-tablet {
    margin-bottom: 24px;
  }

  @include on-desktop {
    flex-direction: row;
  }
}

.footer_list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;

  @include on-tablet {
    flex-direction: row;
    gap: 40px;
  }
}

.footer__link {
  position: relative;

  font-family: Poppins, Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 19.5px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 3px;

  &:hover {
    color: var(--primary-color);
    text-decoration: none;
  }
}
